mysql/*.ibd
mysql/ib_logfile*
mysql/auto.cnf
mysql/#*
mysql/ibtmp1
mysql/mysql
mysql/performance_schema
mysql/sys
mysql/*.err
!mysql/init.sql
mongo/*
!mongo/.gitkeep
*.log
*.DS_Store
*.swp
*.swo
*.bak
*.tmp
.env
node_modules/
vendor/
build/
dist/
